<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Spring Boot Learn</title>
  </head>
  <body>
    <div class="container col-6" >
    <form th:action="@{/registry}"
          method="post">
      <div class="form-group">
        <label for="username">Tài khoản</label>
        <input
          type="text"
          class="form-control"
          id="username"
          th:field="*{username}"
          placeholder="Nhập tên tài khoản tại đây!"
        />
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          th:field="*{email}"
          placeholder="name@example.com"
        />
      </div>
      <div class="form-group">
        <label for="fullname">Họ và tên</label>
        <input
          type="text"
          class="form-control"
          id="fullname"
          th:field="*{fullname}"
          placeholder="Nhập họ và tên!"
        />
      </div>
      <div class="form-group">
        <label for="password">Mật khẩu</label>
        <input
          type="password"
          class="form-control"
          id="password"
          th:field="*{password}"
          placeholder="Nhập mật khẩu!"
        />
      </div>
      <div class="form-group">
        <label for="passwordConfirm">Nhập lại mật khẩu</label>
        <input
          type="password"
          class="form-control"
          id="passwordConfirm"
          placeholder="Type password again!"
        />
      </div>
      <div class="form-group">
        <label for="dateOfBirh">Date Of Birth</label>
        <input
          type="date"
          class="form-control"
          id="dateOfBirh"
          th:field="*{dateOfBirth}"
        />
      </div>
      <div class="form-group">
        <label for="phone">Phone number</label>
        <input
          type="number"
          class="form-control"
          id="phone"
          th:field="*{phone}"
        />
      </div>
      <div class="form-group">
        <div class="row">
        <label >Địa chỉ</label>
      </div>
      <div class="row">
        <div class="container col">
          <label >Thành phố</label>
          <select class="form-control" id="selectCity"  th:field="*{codeCity}">
            <option selected>Chọn thành phố</option>
            <option th:each="city : ${CityList}" th:value="${city.code}" th:text="${city.nameVn}">
            </option>
          </select>
        </div>
        <div class="container col">
          <label >Quận/Huyện</label>
          <select class="form-control" id="selectDistrict" th:field="*{codeDistrict}">
            <option>Chọn Quận/Huyện</option>
            <option th:each="district : ${DistrictLst}" th:value="${district.codeDistrict}" th:text="${district.nameVn}"></option>
          </select>
        </div>
        <div class="container col">
          <label >Xã/Phường</label>
          <select class="form-control" id="selectVillage" th:field="*{codeVillage}">
            <option>Chọn xã/phường</option>
            <option
                    th:each="village : ${VillageLst}"
                    th:value="${village.code}"
                    th:text="${village.nameVn}">

            </option>
          </select>
        </div>
        <div class="container col">
          <label >Thôn/Tổ dân phố</label>
          <select class="form-control" id="selectLand" th:field="*{codeLand}">
            <option>Chọn Thôn/Tổ dân phố</option>
            <option th:each="land : ${LandLst}" th:value="${land.code}" th:text="${land.nameVn}"></option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container col-3"></div>
      <div class="container col-3"><button type="submit" class="btn btn-primary">Đăng ký</button></div>
      <div class="container col-3"><a href="/login"><button class="btn btn-secondary">Đăng nhập</button></a></div>
      <div class="container col-3"></div>
     
    </div>
    </form>
  </div>
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
